<app-navbar></app-navbar>
<div *ngIf="loading" class="novedad-dashboard">
    <h1>Novedades Historico</h1>
    <div class="filters">
        <div *ngIf="showList">
            <label for="name">Nombre:</label>
            <input id="name" [(ngModel)]="filterName" (input)="filterdByName()" type="text">
        </div>
        <div>
            <label for="fecha">Fecha:</label>
            <input id="fecha" type="date" [(ngModel)]="fecha" (change)="filterByData()">
        </div>
    </div>
    
    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paginatedData">
                        <td>{{item.Name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.horas}}</td>
                        <td><button class="btn btn-warning" (click)="revision(item.Cid)">*</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Controles de paginación simplificados -->
        <div class="pagination-container">
            <div class="pagination-info">
                Página {{currentPage}} de {{totalPages}} - Mostrando {{getStartIndex()}} - {{getEndIndex()}} de {{totalItems}} elementos
            </div>
            
            <div class="pagination-controls">
                <button class="pagination-btn" (click)="goToPage(1)" [disabled]="currentPage === 1">
                    <i class="fas fa-angle-double-left"></i> Primera
                </button>
                <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 1">
                    <i class="fas fa-angle-left"></i> Anterior
                </button>
                
                <button 
                    *ngFor="let page of getVisiblePages()" 
                    class="pagination-btn page-number" 
                    [class.active]="page === currentPage"
                    (click)="goToPage(page)">
                    {{page}}
                </button>
                
                <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
                    Siguiente <i class="fas fa-angle-right"></i>
                </button>
                <button class="pagination-btn" (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">
                    Última <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>