<app-navbar></app-navbar>
<div *ngIf="loading" class="novedad-dashboard">
    <h1>Novedades Historico</h1>
    <div class="filters">
        <div *ngIf="showList">
            <label for="name">Nombre:</label>
            <input id="name" [(ngModel)]="filterName" (input)="filterdByName()" type="text">
        </div>
        <div>
            <label for="fecha">Fecha:</label>
            <input id="fecha" type="date" [(ngModel)]="fecha" (change)="filterByData()">
        </div>
    </div>
    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of filteredNovedad">
                        <td>{{item.Name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.horas}}</td>
                        <td><button class="btn btn-warning" (click)="revision(item.id)">*</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>