/* Contenedor principal para centrar el formulario */
.add-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la pantalla */
  background-color: #f8f9fa; /* Color de fondo claro */
}

/* Estilos para el formulario */
.add-product-form {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  position: relative; /* Necesario para posicionar el spinner */
}

.add-product-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 48%;
}

/* Estilos para centrar el spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -40px; /* Ajusta este valor según sea necesario */
  left: 50%;
  transform: translateX(-50%);
}