.horas-dashboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  
  .table-container {
    width: 80%;
  }
  
  .table-responsive {
    overflow-x: auto;
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  .superior {
    display: flex;
    justify-content: y;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 25px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
  }
  .extra {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .filters input[type="date"],
  .filters input[type="week"],
  .filters input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .filters input[type="text"] {
    margin-top: 10px;
  }
  
  .filters label {
    margin-right: 5px;
    font-weight: bold;
  }
  
  .filters button {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filters button:hover {
    background-color: #0056b3;
  }

  .filters .extra {
    position: absolute;
    top: -10;
    right: 10px;
    background-color: rgb(19, 150, 150);
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .horas-dashboard {
      padding: 10px;
    }
  
    .table-container {
      width: 100%;
    }
  
    th, td {
      padding: 6px 8px;
    }
  }