<div class="edit-product">
  <h2>Modificar Producto</h2>
  <form *ngIf="editingProduct" (ngSubmit)="updateProduct()">
    <label for="editName">Nombre:</label>
    <input type="text" id="editName" [(ngModel)]="editingProduct.name" name="editName" [placeholder]="editingProduct.name" required>

    <label for="editBrand">Marca:</label>
    <input type="text" id="editBrand" [(ngModel)]="editingProduct.brand" name="editBrand" [placeholder]="editingProduct.brand" required>

    <label for="editCategory">Categoría:</label>
    <input type="text" id="editCategory" [(ngModel)]="editingProduct.category" name="editCategory" [placeholder]="editingProduct.category" required>

    <label for="editPrice">Precio:</label>
    <input type="number" id="editPrice" [(ngModel)]="editingProduct.price" name="editPrice" [placeholder]="editingProduct.price" required>

    <label for="editQuantity">Cantidad:</label>
    <input type="number" id="editQuantity" [(ngModel)]="editingProduct.quantity" name="editQuantity" [placeholder]="editingProduct.quantity" required>

    <div class="button-group">
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
    </div>
  </form>
</div>