body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    /* Centrar verticalmente */
    background-color: #f9f9f9; /* Fondo claro */
    font-family: Arial, sans-serif; /* Fuente limpia */
    color: #333; /* Color del texto */
}

.centered-container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

.maintenance-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.maintenance-title {
    font-size: 2em;
    color: #007BFF; /* Azul llamativo */
    margin-bottom: 10px;
}

.maintenance-message {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}
